# Editor Configs
/.vs

# Bin Files
/HelperProject.Common/bin
/HelperProject.Logic/bin

/Projects/Cryptography/bin



# Obj Files
/HelperProject.Common/obj
/HelperProject.Logic/obj

/Projects/Cryptography/obj
